<h1>Details to a specific Cocktail</h1>

<h3><%= @cocktail.name %></h3>
<br>

<% @cocktail.doses.each do |x| %>
<%= x.description %>
<%= x.ingredient.name %>
<%= link_to "Delete Ingredient", dose_path(x), method: :delete %>
<% end %>


<%= link_to "See all cocktails", cocktails_path %>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient%>
  <%= f.submit "Add to DB", class: "btn btn-primary" %>
<% end %>

